body{
    background-color: rgb(216, 225, 233);
}

.chessBody{
    display: flex;
    justify-content: center;
}


.chessBoard{
    border-collapse: collapse;
    border: 2px solid black;
    width: 490px;
    height: 490px;
    box-shadow: 2px 1px 15px grey;
}

.charId{
    text-align: center;
    height: 20px;
    background-color:rgb(251, 248, 243);
}
.numId{
    text-align: center;
    width: 20px;
    overflow: hidden;
    table-layout: fixed;
    background-color:rgb(251, 248, 243);
}

.whiteSection{
    text-align: center;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-color: rgb(249, 237, 223);
}

.blackSection{
    text-align: center;
    height: 55px;
    width: 50px;
    border: 1px solid black;
    background-color: rgb(150, 150, 150);
}

.deadPiecesBlock{
    height: 400px;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
    right: 50px;
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 2px 1px 15px grey;
}

.deadBlockHeading{
    table-layout: fixed;
    height: 30px;
    background-color: white;
    text-align: center;
}

.whiteDeadPieces{
    table-layout: fixed;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-color: rgb(249, 237, 223);
}

.blackDeadPieces{
    table-layout: fixed;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-color: rgb(249, 237, 223);
}

.piecesButton{
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: none;
}

.piecesButton:active{
    animation: press 0.25s;
}

@keyframes press{
    10%{transform: scale(95%);}
}


.selectedPiece{
    background-color: greenyellow;
}



.highlightedPath{
    background-color: rgb(30, 205, 191);
}

.sidePlaying{
    width: 175px;
    height: 50px;
    box-shadow: 2px 1px 10px grey;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.playerPlaying{
    position: absolute;
    top: 55px;
    left: 15px;
    text-align: center;
    font-size: 25px;
}

.swtch{
    position: absolute;
    top: 105px;
    right: 30px;
}

.strt{
    position: absolute;
    top: 50px;
    right: 30px;
}

.classButton{
    width: 150px;
    height: 40px;
    background-color: burlywood;
    border-radius: 20px;
    box-shadow: 2px 1px 10px grey;
}

.classButton:active{
    animation: press 0.25s;
}

.resetGame{
    position: absolute;
    top: 160px;
    right: 30px;
}

@media only screen and (max-width: 800px){
    .chessBoard{
        border-collapse: collapse;
        border: 2px solid black;
        width: 350px;
        height: 300px;
        box-shadow: 2px 1px 15px grey;
    }
    
    .charId{
        font-size: 10px;
        text-align: center;
        height: 10px;
        background-color:rgb(251, 248, 243);
    }
    .numId{
        font-size: 10px;
        text-align: center;
        width: 10px;
        overflow: hidden;
        table-layout: fixed;
        background-color:rgb(251, 248, 243);
    }
    
    .whiteSection{
        text-align: center;
        height: 35px;
        width: 35px;
        border: 1px solid black;
        background-color: rgb(249, 237, 223);
    }
    
    .blackSection{
        text-align: center;
        height: 35px;
        width: 35px;
        border: 1px solid black;
        background-color: rgb(150, 150, 150);
    }
    
    .deadPiecesBlock{
        height: 100px;
        margin-top: 5px;
        margin-left: 25px;
        margin-right: 25px;
        right: 50px;
        border: 1px solid black;
        border-collapse: collapse;
        box-shadow: 2px 1px 15px grey;
    }
    
    .deadBlockHeading{
        table-layout: fixed;
        height: 20px;
        background-color: white;
        text-align: center;
        font-size: 10px;
    }
    
    .whiteDeadPieces{
        table-layout: fixed;
        height: 35px;
        width: 35px;
        border: 1px solid black;
        background-color: rgb(249, 237, 223);
    }
    
    .blackDeadPieces{
        table-layout: fixed;
        height: 35px;
        width: 35px;
        border: 1px solid black;
        background-color: rgb(249, 237, 223);
    }
    
    .piecesButton{
        height: 35px;
        width: 35px;
        background-color: transparent;
        border: none;
    }
    
    .piecesButton:active{
        animation: press 0.25s;
    }
    
    @keyframes press{
        10%{transform: scale(95%);}
    }
    
    
    .selectedPiece{
        background-color: greenyellow;
    }
    
    
    
    .highlightedPath{
        background-color: rgb(30, 205, 191);
    }
    
    .sidePlaying{
        position: absolute;
        top: 30px;
        left: -5px;
        width: 80px;
        height: 20px;
        box-shadow: 2px 1px 10px grey;
        border: 1px solid black;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }

    .playerPlaying{
        position: absolute;
        top: 15px;
        left: 25px;
        text-align: center;
        font-size: 15px;
    }
    
    .swtch{
        position: absolute;
        top: 80px;
        right: 30px;
    }
    
    .strt{
        position: absolute;
        top: 40px;
        right: 30px;
    }

    .resetGame{
        position: absolute;
        top: 120px;
        right: 30px;
    }
    
    .classButton{
        width: 80px;
        height: 25px;
        background-color: burlywood;
        border-radius: 20px;
        box-shadow: 2px 1px 10px grey;
        font-size: 10px;
    }
    
    .classButton:active{
        animation: press 0.25s;
    }
    
}
